<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">

  <script>
    function change(){
      let res = document.getElementById("class")
      let ls = document.getElementById("classls")
      let specialB = document.getElementById("specialB")
      let specialC = document.getElementById("specialC")

      // unhide class list global
      if(lsAllow()){
        ls.classList.remove("hidden")
      }else if(!lsAllow()){
        ls.classList.add("hidden")
      }

      if(directAllow()){
        if(res.value == "Β"){
          console.log("b")
          specialB.classList.remove("hidden")
        }else if(res.value == "Γ"){
          console.log("c")
          specialC.classList.remove("hidden")
        }
      }else if(!directAllow()){
        if(!specialB.classList.contains("hidden")){
          specialB.classList.add("hidden")
        }
        if(!specialC.classList.add("hidden")){
          specialC.classList.add("hidden")
        }
      }

      if(res.value == "Α"){
        if(!specialC.classList.contains("hidden")){
          specialC.classList.add("hidden")
        }
        if(!specialB.classList.contains("hidden")){
          specialB.classList.add("hidden")
        }
      }

      if(res.value == "Β" && ls.value !=""){
        if(!specialC.classList.contains("hidden")){
          specialC.classList.add("hidden")
        }
      }
      if(res.value == "Γ" && ls.value !=""){
        if(!specialB.classList.contains("hidden")){
          specialB.classList.add("hidden")
        }
      }

      if(buttonAllow()){
        document.getElementById("btn").classList.remove("hidden")
      }else{
        document.getElementById("btn").classList.add("hidden")
      }
    }

    function lsAllow(){
      let res = document.getElementById("class").value
      let ls = document.getElementById("classls").value
      let specialB = document.getElementById("specialB")
      let specialC = document.getElementById("specialC")

      if(res !=""){
        return true;
      }else{
        return false
      }
    }

    function directAllow(){
      let res = document.getElementById("class").value
      let ls = document.getElementById("classls").value
      let specialB = document.getElementById("specialB")
      let specialC = document.getElementById("specialC")

      if(res != "" && ls !=""){
        if(res != "A"){
          return true
        }else{
          return false
        }
      }
      return false;
    }

    function buttonAllow(){
      let res = document.getElementById("class").value
      let ls = document.getElementById("classls").value
      let specialB = document.getElementById("specialB")
      let specialC = document.getElementById("specialC")
      if(res !="" && ls!=""){
        if(res == "Α"){
          return true
        }else{
          if(res == "Β"){
            if(specialB.value !=""){
              return true
            }else{
              return false
            }
          }else if(res == "Γ"){
            if(specialC.value !=""){
              return true
            }else{
              return false
            }
          }
        }
      }
      return false;
    }

    function validate(){
      let res = document.getElementById("class").value
      let ls = document.getElementById("classls").value

      if(res == "Α"){
        window.location.href = "/find?class=" + res + ls + "&special=none"
      }else if(res == "Β"){
        let direct = document.getElementById("specialB").value
        window.location.href = "/find?class=" + res + ls + "&special=" + direct
      }else if(res == "Γ"){
        let direct = document.getElementById("specialC").value
        window.location.href = "/find?class=" + res + ls + "&special=" + direct
      }
    }

    function reset(id){
      document.getElementById(id).selectedIndex = 1; //1 = option 2\
    }
  </script>

</head>
<body>
  <select name="classList" id="class" onchange="change()">
    <option value="">ΤΑΞΗ</option>
    <option value="Α">Α</option>
    <option value="Β">Β</option>
    <option value="Γ">Γ</option>
  </select>

  <select name="classList" id="classls" onchange="change()" class="hidden">
    <option value="">ΤΜΗΜΑ</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <select name="specialListB" id="specialB" onchange="change()" class="hidden">
    <option value="">ΚΑΤΕΥΘΥΝΣΗ</option>
    <option value="Βθετ1">Βθετ1</option>
    <option value="Βθετ2">Βθετ2</option>
    <option value="Βθετ3">Βθετ3</option>
    <option value="Βθετ4">Βθετ4</option>
    <option value="Βανθρ1">Βανθρ1</option>
    <option value="Βανθρ2">Βανθρ2</option>
  </select>

  <select name="specialListC" id="specialC" onchange="change()" class="hidden">
    <option value="">ΚΑΤΕΥΘΥΝΣΗ</option>
    <option value="Γανθρ">Γανθρ</option>
    <option value="Γυγείας">Γυγείας</option>
    <option value="Γοικ1">Γοικ1</option>
    <option value="Γοικ2">Γοικ2</option>
    <option value="Γθετ1">Γθετ1</option>
    <option value="Γθετ2">Γθετ2</option>
  </select>
  <button onclick="validate()" class="hidden" id="btn">GO</button>
</body>
</html>